.sidebar{

    background-color: #f1f5f9;
    box-shadow: 0 0 10px #ddd;
}

.list{

    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.list li{

    list-style: none;
    background-color: #eee;
    padding: 8px 20px;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.5s;
    margin-bottom: 30px;
}

 li:hover{
    background-color: #03a9f4;
    color: #fff;
}
.list li a{
text-decoration: none;

}